@using Microsoft.AspNetCore.Html;

<MudDialog>
    <DialogContent>
        @if (!Editable)
        {
            <MudText>From: @Model.From.Name</MudText>
            <MudText>Subject: @Model.Subject</MudText>
            <MudText>Content:</MudText>
            <div id="unique_id_mail_content" class="ma-0" style="height:300px;overflow:auto">
                <MudPaper Elevation="3" Style="background-color:cadetblue">
                    <MudText Class="ma-2" Style="font-size:xx-small">@ModelContentMarkup</MudText>
                    <MudScrollToTop TopOffset="100"
                                Selector="#unique_id_mail_content"
                                VisibleCssClass="visible absolute"
                                HiddenCssClass="invisible">
                        <MudButton Variant="Variant.Filled" StartIcon="@Icons.Filled.ArrowUpward" Color="Color">Go to top</MudButton>
                    </MudScrollToTop>
                </MudPaper>
            </div>
        }
        else
        {
            <MudForm @ref="form">
                <MudTextField T="string" @bind-Value="@Model.Subject" Label="Subject" HelperText="Email Subject"></MudTextField>
                <MudTextField T="string" @bind-Value="@Model.Content" Label="Content" HelperText="Email Content" Lines=15></MudTextField>
            </MudForm>
        }
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Cancel</MudButton>
        <MudButton Variant="Variant.Filled" OnClick="Save">Save</MudButton>
    </DialogActions>
</MudDialog>