<MudForm>
    <div class="d-flex flex-grow-1 gap-4">
        <MudTextField Label="Name" Disabled="!IsEditable"
                      T="string" @bind-Value="@ViewModel.Name"
                      HelperText="Name of the character (yeah i know this is for dummies).">
        </MudTextField>
        <MudTextField Label="Age" Disabled="!IsEditable"
                      Class="flex-none d-flex"
                      T="int?" @bind-Value="@ViewModel.Age"
                      HelperText="Ingame character Age">
        </MudTextField>
        <MudTextField Label="Age in Reality" Disabled="!IsEditable"
                      Class="flex-none d-flex"
                      T="int?" @bind-Value="@ViewModel.ReallifeAge"
                      HelperText="out of game age">
        </MudTextField>
        <MudDatePicker Label="Create Date" Disabled="!IsEditable"
                       @bind-Date="@ViewModel.CreatedDate" HelperText="registered in this tool at this date">
        </MudDatePicker>
    </div>
    <div class="mt-4 d-flex flex-grow-1 gap-4">
        <MudCheckBox Label="Is a recruitee" Disabled="!IsEditable"
                     @bind-Checked="@ViewModel.IsInRecruitment"></MudCheckBox>
        <MudCheckBox Label="Wishes not to be disturbed" Disabled="!IsEditable"
                     @bind-Checked="@ViewModel.IsExcluded"></MudCheckBox>
    </div>
    <MudTextField Label="Description" Disabled="!IsEditable"
                  T="string" @bind-Value="@ViewModel.Description" HelperText="Short summary about this guy/girl.">
    </MudTextField>

    <div class="mt-4 d-flex align-center justify-space-between">
        @if (IsEditable)
        {
            <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="Cancel" Class="ml-2">Cancel</MudButton>
            <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="Save" Disabled="false" Class="ml-auto">
                Save
            </MudButton>
        }
        else
        {
            <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="Edit" Class="ml-2">Edit</MudButton>
        }
    </div>
</MudForm>